@media(min-width:1200px){
    header{
        width: 100%;
    }
    .head-contant{
        text-align: center;
        background-image: url(../image/hero-bg\ \(1\).jpg);
        background-size: cover;
        background-attachment: fixed;
        background-size: 100%;
        background-repeat: no-repeat;
        height: 500px;
    }
    .head-contant h1{
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        color: #fff;
        padding: 150px 0px 0px 0px;
        font-family: "Playfair Display", serif;
    }
    .head-contant h2{
        color: #eee;
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 300;
        font-family: "Poppins", sans-serif;
        line-height: 53px;
    }
    .head-icon i{
        font-size: 60px;
        color: #fff;
        line-height: 70px;
    }
    /* HOVER */
    .head-icon i:hover{
        font-size: 60px;
        color:#d43076;
        line-height: 90px;
        transition: 0.5s;
    }
            /* NAVIGATION */
    a{
        text-decoration: none;
    }
    nav{
        background-color: #fff;
        width: 100%;
        height:60px;
        box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 12%);
    }
    .nav-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        margin: auto;
        height:60px;
    }
    .nav-icon{
        display: none;
    }
    .logo{
        width: 40%;
    }
    .logo h1 a{
        color: #2c4964;
        font-weight: 500;
        letter-spacing: 3px;
        font-family: "Playfair Display", serif;
        font-size: 30px;
    }
    .nav-bar{
        width: 60%;
    }
    .drop-down{
        display: flex;
        justify-content: space-evenly;
    }
    .nav-bar ul li a{
        font-size: 14px;
        color: #2c4964;
        font-family: "Open Sans", sans-serif;
    }
    .nav-bar ul li a:hover{
        color: #d43076;
        transition: 0.5s;
    }
    .nav-bar li a i{
        display: none;
    }
                    /* ABOUT */
    .about{
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        margin: 60px auto 0px auto;
    }
    .about-item1{
        width: 40%;
    }
    .about-item2{
        width: 55%;
    }
    .about-item1 img{
        width: 100%;
    }
    .about-item2 h1{
        font-weight: 500;
        font-size: 34px;
        color: #2c4964;
        padding: 0px 0px 15px 0px;
    }
    .about-item2 p{
        font-family: "Open Sans", sans-serif;
        color: #5a656e;
        font-size: 16px;
        line-height: 25px;
        letter-spacing:1px;
    }
    .about-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 30px;
    }
    .about-flex-item{
        width: 48%;
        padding: 10px 0;
    }
    .about-flex-item h2{
    font-size: 36px;
    line-height: 20px;
    font-weight: 700;
    color: #2c4964;
    font-family: "Playfair Display", serif;
    }
    .about-flex-item h2 i{
        color: #eeafca;
        padding-right: 10px;
    }
    .about-flex-item span{
        font-family: "Playfair Display", serif;
        font-size: 16px;
        color: #437099;
        font-weight: 600;
    }
    .about-flex-item p{
        padding: 0 0 0 45px; 
        font-family: "Playfair Display", serif;
        font-size: 14px;
        color: #437099;
        line-height: 20px;
        letter-spacing: 1px;
    }
    /* SKILL */
    .skill{
        display: flex;
    }
    .skill-item1{
        width: 50%;
    }
    .skill-item2{
        width: 50%;
    }
/* RESUME */
.resume-container h1::before{
    position: absolute;
    content: "";
    width: 50px;
    height: 3px;
    background: #d43076;
    top: 35px;
}
.resume-container{
    width: 90%;
    margin: auto;
    padding: 30px 0;
}
.resume-container h1{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
    color: #345676;
}
.resume-container p{
    font-family: "Open Sans", sans-serif;
    color: #5a656e;
    line-height: 20px;
}
.resume-info-container{
    display: flex;
}
.resume-item1 h2{
    font-size: 26px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #4b7dab;
    font-family: "Poppins", sans-serif;
    position: relative;
    padding-left: 20px;
}
.resume-item1 h3{
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    color: #2c4964;
    margin-bottom: 10px;
}
.resume-item1 p{
    font-family: "Open Sans", sans-serif;
    color: #5a656e;
    padding-left: 41px;
}
.resume-info-container ul{
    padding: 0 0 0 66px;
}
.resume-info-container ul li{
    padding: 10px 0;
    font-family: "Open Sans", sans-serif;
    color: #5a656e;
}
.resume-item1 i{
    display: inline-block;
    font-size: 14px;
    padding: 0 10px;
    color: #d43076;
}
.resume-item1 h2::after{
    position: absolute;
    content: "";
    width: 3px;
    height: 160px;
    background: #d43076;
    left: 15px;
    top: 62px;
}
.resume-item1 h5{
    font-size: 16px;
    background: #e4ebf3;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 400;
    margin: 0 30px;
    font-family: "Poppins", sans-serif;
}
.intidution{
font-style: italic;
padding: 10px 0;
}
.type{
    list-style-type: none;
    padding: 0 0 20px 43px;
}
.resume-box1 h2::after{
    position: absolute;
    content: "";
    width: 3px;
    height: 114px;
    background: #d43076;
    left: 15px;
    top: 62px;
}
.resume-box2 {
    position: relative;
}
.resume-box2 h3::after{
    position: absolute;
    content: "";
    width: 3px;
    height: 118px;
    background: #d43076;
    top: 18px;
    left: 15px;
}
.resume-item1{
    width: 50%;
}

}



@media(min-width:700px){
        .service-div-container{
            width: 90%;
            margin: auto;
            display: flex;
            justify-content: space-evenly;
            flex-wrap:wrap ;
        }
        .service-item{
            width: 40%;
            box-shadow: 0 0 29px 0 rgb(68 88 144 / 20%);
            text-align: center;
            border-radius: 8px;
            padding: 20px 0;
            margin: 20px 0;
        }
        .service-item i{
            display: inline-block;
            padding: 15px;
            font-size: 30px;
            line-height: 1;
            color: #fff;
            background: #d43076;
            border-radius: 50%;
            margin-top: 20px;
        }
        .service-item h4{
            font-family: "Playfair Display", serif;
            font-weight: 700;
            margin:20px 0;
            font-size: 18px;
        }
        .service-item p{
            width: 90%;
            margin: auto;
            font-size: 15px;
            line-height: 24px;
            font-family: "Open Sans", sans-serif;
            color: #5a656e;
        }
        /* portfolio */
        .portfolio-flex {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 90%;
            margin: auto;
    }
    .portfolio-item {
            overflow: hidden;
            width: 40%;
            margin: 20px auto;
    }
    /* CONTACT */
    .contact-info-container{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .contact-item1{
        width: 50%;
        }
        .contact-item2{
            width: 50%;
        }
        .contact-item3{
            width: 60%;
        }
}
@media(min-width:990px){
    .service-div-container{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
    }
    .service-item{
        width: 23%;
        box-shadow: 0 0 29px 0 rgb(68 88 144 / 20%);
        text-align: center;
        border-radius: 8px;
        padding: 20px 0;
        margin: 20px 0;
    }
    .service-item i{
        display: inline-block;
        padding: 15px;
        font-size: 30px;
        line-height: 1;
        color: #fff;
        background: #d43076;
        border-radius: 50%;
        margin-top: 20px;
    }
    .service-item h4{
        font-family: "Playfair Display", serif;
        font-weight: 700;
        margin:20px 0;
        font-size: 18px;
    }
    .service-item p{
        width: 90%;
        margin: auto;
        font-size: 15px;
        line-height: 24px;
        font-family: "Open Sans", sans-serif;
        color: #5a656e;
    }

    /* PORTFOLIO */
    
.portfolio-img {
    position: relative;
}
.portfolio-flex {
    width: 90%;
    margin: auto;
}
.portfolio-item {
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
}
.portfolio-img img {
    width: 100%;
}
.portfolio-background {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    height: 255px;
    top: 0;
    text-align: center;
    opacity: 0;
}

/* PORTFOLIO-HOVER */
.portfolio-img {
    position: relative;
}
.portfolio-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
}
.portfolio-item {
        overflow: hidden;
        width: 30%;
        margin: 20px auto;
}
.portfolio-img img {
        height: auto;
        width: 100%;
}
.portfolio-background {
        position: absolute;
        background: rgba(44, 73, 100, 0.6);
        top: 0;
        text-align: center;
        opacity: 0;
}
    /* PORTFOLIO-HOVER */
.portfolio-img:hover .portfolio-background  {
        position: absolute;
        background: rgba(44, 73, 100, 0.6);
        height: 100%;
        width: 100%;
        top: 0;
        text-align: center;
        opacity: 1;
        transition: 1s;
        transform: scale(1.1);
 }
.portfolio-background::before{
        position: relative;
        position: absolute;
        content: "";
        border-left: 3px solid #fff;
        border-top: 3px solid #fff;
        width: 50px;
        height: 50px;
        top: 25px;
        left: 27px;
}
.portfolio-background::after{
        position: absolute;
        content: "";
        border-right: 3px solid #fff;
        border-bottom: 3px solid #fff;
        width: 50px;
        height: 50px;
        bottom: 25px;
        right: 27px;
}
.portfolio-background h1 {
        margin-top: 80px;
        font-size: 20px;
        color: #fff;
        font-weight: 400;
}
.portfolio-background h2 {
        font-size: 14px;
        color: #fff;
        font-weight: 100;
        padding: 15px;
}
.portfolio-background i  {
        padding: 9px;
        color: #fff;
}
.portfolio-background i:hover{
    color: #d43076;
    transition: 2s;
}

/* CONTACT */
.contact-info-container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.contact-item1 h3{
    font-size: 36px;
    margin: 0 0 10px 0;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 3px;
    color: #d43076;
    
}
.contact-item1 p{
    font-family: "Open Sans", sans-serif;
    line-height: 20px;
    color: #3c6387;
    padding: 20px 0;
}
.contact-item1 i{
    display: inline-block;
    padding: 10px 10px;
    margin: 0 8px;
    font-size: 20px;
    color: #d43076;
    border-radius: 50%;
    border: 1px solid #d43076;
}
.contact-item1 i:hover{
    background: #d43076;
    color: #fff;
   transition: 1s;
}
.contact-item1{
width: 30%;
}
.contact-item2{
    width: 20%;
}
.contact-item3{
    width: 30%;
}
.contact-item3 input{
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    margin: 10px 0;
}
.contact-item3 input:hover{
 border: 1px solid #d43076;
 transition: 0.5s;
}
.contact-item3 textarea{
    display: inline-block;
    width: 100%;
    margin: 10px 0;
}
.contact-item3 textarea:hover{
    border: 1px solid #d43076;
    transition: 0.5s;
}
.con-btn{
    padding: 15px 40px ;
    border-radius: 20px;
    background: #d43076;
    color: #fff;
    border: none;
    display: block;
    margin: auto;
}
.contact-logo-container{
    display: flex;
    padding: 20px 0;
}
.contact-logo{
 font-size: 20px;
 display: inline-block;
 padding: 0 10px;
 color: #d43076;
}
.contact-para p{
    font-size: 16px;
    color: #5a656e;
}

}
